* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.733),
        rgba(0, 0, 0, 0.788)
    )
    , url(https://images.pexels.com/photos/1312488/pexels-photo-1312488.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Muli;
}

#box {
    color: rgb(45, 135, 219);
    width: 90%;
    height: 90vh;
    margin: 30px auto;
    background: rgb(255, 255, 255);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(83, 83, 83),
    -3px -3px 10px rgb(80, 80, 80);
}

.picture-part {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    )
    , url(https://images.pexels.com/photos/65438/pexels-photo-65438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;    
    background-size: cover;
    background-position: center center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}

.form-part {
    margin-left: auto;
    margin-right: auto;
}

.form-part h1 {
    margin-top: 30px;
    font-size: 30px;
}

.form-part h3 {
    margin-bottom: 20px;
}

.form-part input[type="text"], .form-part input[type="password"], .form-part input[type="date"], select {
    width: 100%;
    border: none;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(45deg, rgb(63, 146, 255), rgb(72, 142, 247, 0.3));
    border-image-slice: 1;
/*
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        red, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
      */
}

form {
    width: 400px;
}

h1, h3 {
    text-align: center;
    font-weight: 300;
}

h3 {
    color: rgb(92, 92, 92);
    font-size: 14px;    
}

textarea:focus, input:focus{
    outline: none;
}

#OpstinaP, #OpstinaR {
    color: rgb(92, 92, 92);
    margin-bottom: 15px;
}

input {
    color: rgb(92, 92, 92);
    font-size: 14px;
}

input[type="text"], input[type="date"]
{
    font-family: Muli;
}

.form-part p {
    font-size: 10px;
    margin-bottom: 0;
    color: rgb(45, 135, 219);
}

#radioText {
    display: inline;
    padding: 0 10px 0 3px;
}

.form-part input[type="radio"] {
    position: relative;
    top: 2.5px;
}

#btn {
    margin-top: 10px;
    border: none;
    display: inline-block;
    width: 100%;
    color: white;
    background: rgb(45, 135, 219);
    text-decoration: none;
    height: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

#btn:hover {
    background: rgb(87, 166, 240);
}

@media screen and (max-width: 950px) {
    #box {
        grid-template-columns: 1fr;
    }
    .picture-part {
        display: none;
    }
}